{% extends 'base.html' %}


{% block content %}

 <main class="px-3">
    <h1>About me</h1>
    <p class="lead">Disc sports enthusiast with a data science habit.</p>

<p class="lead">Co-founder and mod of the world famous "30 days of ML (by kaggle)" daily room.</p>

<p class="lead">🥏On the disc side I've played and coached ultimate for 28 years. I've played in 16 countries and have competed in the US national championships twice and the world championships twice. I now move a bit slower but do my best to run around after the young Cambodians I teach the game to.</p>

<p class="lead">I have also picked up disc golf and have won half the tournaments I have ever competed in. I should probably retire now.</p>

<p class="lead">📈On the data side, I am definitely in the early part of my journey. I'm studying hard and learning fast. You can see the types of topics I enjoy exploring (sports, especially Aussie football and disc golf) at discsanddata.com.</p>

<p class="lead">I don't know much yet, but whatever I know I'm willing to share.</p>

<p class="lead">📍Siem Reap, Cambodia. 🇰🇭</p>

<p class="lead">🏀Currently running the sports program for Globalteer (an NGO/non-profit)</p>

<p class="lead">🍔Former Cambodian food tour guide for Siem Reap Food Tours</p>

<p class="lead">📙Former English teacher at a place that shan't be named</p>

<p class="lead">🎰Former Operations Manager at Hatien Vegas Casino</p>

👁<p class="lead">️Former anthropologist-in-training at the University of Wisconsin</p>

    <p class="lead">
      <a href="{{url_for('p1_init')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Do that player head-to-head thing!</a>
    </p>
    
  </main>

  {% endblock %}