{% extends 'base.html' %}


{% block content %}

 <main class="px-3">
    <h1>Player Comparison Tool</h1>
    <p class="lead">Away we go...</p>

  <div class="row">
  <div class="col-6"></div>
  <div class="col-3" ><u>{{player_1_name}}</u></div>
  <div class="col-3" ><u>{{player_2_name}}</u></div>
 </div>

  {% for result in final_results %}

<div class="row" style = "border-bottom-style : solid; border-bottom-color : white">
  <div class="col-6">{{ result[0] }}</div>
  <div class="col-3" >{%if result[1] == 0%}DNP{%else%}{{ result[1] }}{%endif%}</div>
  <div class="col-3" >{%if result[2] == 0%}DNP{%else%}{{ result[2] }}{%endif%}</div>
 </div>

{% endfor %}




  </main>

  {% endblock %}