{% extends 'base.html' %}


{% block content %}

 <main class="px-3"><form class="row g-3" action = "/analysis" method = 'POST'>
  <h1>Player Comparison Tool</h1>
    <p class="lead">You chose {{ player_1_name }} and {{ player_2_name }}. Do you want to see tournaments they both played in or toiurnaments either played in? And do you want results for one particular year or all years?</p>
  
  <div class="col-auto">
  <select class="form-select" aria-label="Default select example" name = "tourneys">
  <option selected value="Alltourneys">All tournaments</option>
  <option value="Both">Tournaments they both played in</option>
</select>
</div>

<div class="col-auto">
  <select class="form-select" aria-label="Default select example" name = "years">
  <option selected value="Allyears">All years</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
</select>
</div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Done!</button>
  </div>
</form>
  {% if error_message %}

<div class="alert alert-warning" role="alert">
  {{ error_message }}
</div>

  {% endif %}


</main>

  {% endblock %}